html {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #FFEFD5;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #FFE4B5;
    padding: 0 20px 20px 20px;
    border: 2px solid white;
}
h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-shadow: 2px 2px 2px white;
}
p,li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: orangered;
}
img {
    display: block;
    margin: 0 auto;
}